{
  "Logging": {
    "LogLevel": {
      "Default": "Debug",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "GoogleMaps": {
    "ApiKey": "<YOUR_GOOGLE_MAPS_API_KEY>"
  },
  "Authentication": {
    "Google": {
      "ClientId": "<YOUR_GOOGLE_OAUTH_CLIENT_ID>"
    }
  },
  "WeatherProviders": {
    "Weatherbit": {
      "ApiKey": "<YOUR_WEATHERBIT_API_KEY>"
    }
  }
}
